/bin
/obj
/ReproIVF.Shared/obj
/ReproIVF.Shared/obj
/ReproIVF.WebAPI
/ReproIVF.WebAPI
.vs/ReproIVF/FileContentIndex/528f0d07-510c-44f2-81ec-2b1941b569fe.vsidx
.vs/ReproIVF/FileContentIndex/5db19a4a-436e-40d5-ad42-eb77153e344d.vsidx
.vs/ReproIVF/FileContentIndex/c590af59-6a4c-49f9-9626-ccdb88add8c9.vsidx
/ReproIVF.WebAPI/obj
